<div class="col-md-12">
    <form>
        <div class="form-group">
            <ejs-richtexteditor id="name" #name='ngModel' [(value)]='value' required name="name" [(ngModel)]="value"></ejs-richtexteditor>
            <div *ngIf="(name.invalid && (name.dirty || name.touched))" class="alert alert-danger">
                <div *ngIf="name.errors.required">
                    Value is required.
                </div>
            </div>
        </div>
        <div>
            <button type="submit" ejs-button>Submit</button>
            <button type="reset" ejs-button style="margin-left: 20px">Reset</button>
        </div>
    </form>
</div>