<div class="col-md-12">
    <form [formGroup]="heroForm" #formDir="ngForm" (ngSubmit)="registerUser(formDir)">
        <div class="form-group">
            <ejs-richtexteditor id="name" #fromRTE editorMode="Markdown" [toolbarSettings]='tools' formControlName="name" name="name">
            </ejs-richtexteditor>
            <div *ngIf="heroForm.controls.name.invalid && (heroForm.controls.name.dirty || heroForm.controls.name.touched)" class="alert alert-danger">
                <div *ngIf="heroForm.controls.name.errors.required">
                    Value is required.
                </div>
            </div>
        </div>
        <div>
            <button type="submit" ejs-button>Submit</button>
            <button type="button" ejs-button (click)="onDisable($event)" style="margin-left: 20px">Disable</button>
            <button type="button" ejs-button (click)="onEnable($event)" style="margin-left: 20px">Enable</button>
            <button type="button" ejs-button (click)="formDir.resetForm({})" style="margin-left: 20px">Reset</button>
        </div>
    </form>
    <span><h3>Form submit value:</h3><br><br>{{submitValue}}</span>
</div>
